<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.jd.platform.hotkey.dashboard.mapper.ChangeLogMapper">
  <resultMap id="BaseResultMap" type="com.jd.platform.hotkey.dashboard.model.ChangeLog">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="biz_id" jdbcType="VARCHAR" property="key" />
    <result column="biz_type" jdbcType="INTEGER" property="bizType" />
    <result column="from_str" jdbcType="VARCHAR" property="from" />
    <result column="to_str" jdbcType="VARCHAR" property="to" />
    <result column="app_name" jdbcType="VARCHAR" property="appName" />
    <result column="update_user" jdbcType="VARCHAR" property="updateUser" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="uuid" jdbcType="VARCHAR" property="uuid" />
  </resultMap>
  <sql id="Base_Column_List">
    id, biz_id, biz_type, from_str, to_str, app_name,update_user, create_time,uuid
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from hk_change_log
    where id = #{id,jdbcType=INTEGER}
  </select>

  <insert id="insertSelective" parameterType="com.jd.platform.hotkey.dashboard.model.ChangeLog">
    insert ignore into hk_change_log
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="key != null">
        biz_id,
      </if>
      <if test="bizType != null">
        biz_type,
      </if>
      <if test="from != null">
        from_str,
      </if>
      <if test="to != null">
      to_str,
      </if>
      <if test="appName != null">
        app_name,
      </if>
      <if test="updateUser != null">
        update_user,
      </if>
      <if test="createTime != null">
        create_time,
      </if>
      <if test="uuid != null">
        uuid,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="key != null">
        #{key,jdbcType=VARCHAR},
      </if>
      <if test="bizType != null">
        #{bizType,jdbcType=INTEGER},
      </if>
      <if test="from != null">
        #{from,jdbcType=VARCHAR},
      </if>
      <if test="to != null">
        #{to,jdbcType=VARCHAR},
      </if>
      <if test="appName != null">
        #{appName,jdbcType=VARCHAR},
      </if>
      <if test="updateUser != null">
        #{updateUser,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null">
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="uuid != null">
        #{uuid,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>

  <select id="listChangeLog" parameterType="com.jd.platform.hotkey.dashboard.common.domain.req.SearchReq" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List" />
    from hk_change_log
    where 1 = 1
    <if test="startTime != null">
      <![CDATA[ and create_time >= #{startTime} and create_time < #{endTime}]]>
    </if>

    <if test="app !=null and app !=''">
      and app_name = #{app}
    </if >
    order by id desc
  </select>
</mapper>