<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.jd.platform.hotkey.dashboard.mapper.StatisticsMapper" >
  <resultMap id="BaseResultMap" type="com.jd.platform.hotkey.dashboard.model.Statistics" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="key_name" property="keyName" jdbcType="VARCHAR" />
    <result column="count" property="count" jdbcType="INTEGER" />
    <result column="app" property="app" jdbcType="VARCHAR" />
    <result column="rule" property="rule" jdbcType="VARCHAR" />
    <result column="days" property="days" jdbcType="INTEGER" />
    <result column="hours" property="hours" jdbcType="BIGINT" />
    <result column="minutes" property="minutes" jdbcType="BIGINT" />
    <result column="biz_type" property="bizType" jdbcType="INTEGER" />
    <result column="uuid" property="uuid" jdbcType="VARCHAR" />
    <result column="create_time" property="createTime" jdbcType="TIMESTAMP" />
  </resultMap>

  <select id="listStatistics" resultMap="BaseResultMap" parameterType="com.jd.platform.hotkey.dashboard.common.domain.req.SearchReq">
    select id, key_name, count, app,rule, days, hours, minutes, biz_type, uuid, create_time
    from hk_statistics
    where 1=1
    <if test="startTime != null">
      <![CDATA[ and create_time >= #{startTime} and create_time < #{endTime}]]>
    </if>
    order by count desc
  </select>


  <select id="listOrderByTime" resultMap="BaseResultMap" parameterType="com.jd.platform.hotkey.dashboard.common.domain.req.SearchReq">
    select id, key_name, count, app,rule, days, hours, minutes, biz_type, uuid, create_time
    from hk_statistics
    where 1=1
    <if test="type != null">
     and biz_type = #{type}
    </if>
    <if test="startTime != null">
      <![CDATA[ and create_time >= #{startTime} and create_time < #{endTime}]]>
    </if>
    order by id
  </select>


  <select id="sumStatistics" resultMap="BaseResultMap" >
    SELECT app,key_name,sum(count) as count
     from hk_statistics
     where 1=1
    <if test="key !=null and key !=''">
      and key_name LIKE CONCAT(CONCAT('%', #{key}), '%')
    </if >
    <if test="app !=null and app !=''">
      and app = #{app}
    </if >
    <if test="startTime != null">
      <![CDATA[ and create_time >= #{startTime} and create_time < #{endTime}]]>
    </if>
      GROUP BY key_name, app ORDER BY count desc
  </select>


  <insert id="batchInsert">
    INSERT ignore INTO
    hk_statistics(
    key_name,count,app,rule,
    days,hours, minutes,
    biz_type,create_time,uuid)
    VALUES
    <foreach collection="list" item="k" separator=",">
      (#{k.keyName},#{k.count},#{k.app},#{k.rule},
      #{k.days}, #{k.hours},#{k.minutes},
      #{k.bizType},#{k.createTime},#{k.uuid})
    </foreach>
  </insert>




  <delete id="clearExpireData">
    delete from hk_statistics
    where app = #{app}
     <![CDATA[ and create_time < #{expireDate}]]>
  </delete>
</mapper>